





@font-face {
    font-family: 'tan';
    src: url(fonts/Tangerine-Bold.ttf);
    font-style: normal;
}

body {
	background-color: #b88d99;
	margin: 0;
	padding: 0;

}

h2, p {
 margin: 0 50px 0 50px;
}

h2 {
	text-decoration: bold;
	margin-bottom: 25px;
	margin-top: 30px;
	font-size: 70px;
	font-family: 'tan';

}

p {
	width: 600px;
	height: 450px;
	font-size: 40px;
	font-family: 'tan';
}

#whole {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0;
}
#one {
	display: flex;
	justify-content: space-around;
	border: none;
	
}

#two {
	display: flex; 
	justify-content: space-around;
	flex-direction: row-reverse;
	border: none;
}

#three {
	display: flex;
	justify-content: space-around;
	border: none;
}



.first {
	width: 100%;
	height: 450px;

	
}


.second {
	width: 100%;
	height: 450px;
	
}



.third {
	width: 100%;
	height: 450px;
	margin-bottom: 0;
}

.tea {
	background: #dea5a4;
	color: white;
	width: 178%;
	height: 450px;

}

.cake {
	background: #aec6cf;
	color: white;
	width: 100%;
	height: 450px;
}

.crepes {
	background: #C3B1E1;
	color: white;
	width: 100%;
	height: 450px;
	margin-bottom: 0;
}
